<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer mt-5" th:fragment="footer">
    <footer class="page-footer text-center">
        <div style="background-color: darkgrey;padding:10px;font-size:12px">
            <p class="font-size small">
                우리컴퓨터ERP는 자재 및 인력의 지속적인 관리를 사람과 경험, 기술을 통해 실현하는 매니지먼트 컴퍼니 입니다.
                <br>
                상호 : 우리컴퓨터ERP 주식회사 | 대표자명 : 장선호, 이시온, 안준섭, 전유정 | 사업자 등록번호 111-11-111111 | 통신판매번호: 1111-인천부평-1111 | 대표전화
                : 1234-1234
                <br>
                사업장주소지 : 인천광역시 부평구 부평대로 000 6층 | 이메일 kac4484@gmail.com | <a href="#">개인정보 처리방침 안내</a>
                <br>
                ⓒ 2024 WOORI COMPUTER, All Rights Reserved.
            </p>
        </div>
    </footer>
</div>
</body>
</html>