<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>접근거부</title>
</head>
<body>

<div class="content mt-5" layout:fragment="content">
    <div class="d-flex justify-content-center">
        <h1>관리자 권한이 필요합니다.</h1>
    </div>
    <div class="d-flex justify-content-center">
        <a th:href="@{/login}" type="button" class="btn btn-dark">로그인 페이지로 이동</a>

    </div>
</div>


</body>
</html>