<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>오시는길</title>
    <style>
        a {
            text-decoration: none;
            color:black;
        }
    </style>
</head>
<body>
<div class="title"></div>

<div class="container">

    </script>
</div>
</div>

</body>
</html>