<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>수정완료</title>
</head>
<body>
<div class="content mt-5" layout:fragment="content">
    <div class="d-flex justify-content-center">
        <h1>수정 완료되었습니다.</h1>
    </div>
    <div class="d-flex justify-content-center">
        <input type="button" class="btn btn-dark" value="메인 페이지로 돌아가기" th:href="@{/}">
    </div>
</div>
</body>
</html>