<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row mt-5">
        <div class="col shadow">

            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form class="d-flex formObj" role="search" action="/material/list" method="get"
                          th:object="${pageRequestDTO}">

                        <select name="type" th:field="*{type}" class="form-select" aria-label="Default select example">

                            <option value="n" >자재명</option>
                            <option value="c">자재 코드</option>
                            <option value="bp">매입처</option>
                            <option value="bn">매입처 사업자 등록 번호</option>

                        </select>
                        <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <a href="/material/register" class="btn btn-dark">신규 자재 등록</a>
                </div>

            </nav>

            <th:block th:if="${#lists.isEmpty(materialDTOPageResponesDTO.dtoList)}">
                <h1>자재가 존재하지 않습니다.</h1>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(materialDTOPageResponesDTO.dtoList)}">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">자재명</th>
                        <th scope="col">자재 코드</th>
                        <th scope="col">매입처</th>
                        <th scope="col">매입일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list: ${materialDTOPageResponesDTO.dtoList}">
                        <tr>
                            <th scope="row" >1</th>
                            <td >
                                <a th:href="@{/material/read(mno=${list.mno})}">
                                    [[${list.matName}]]
                                </a>

                            </td>
                            <td >
                                <div  class="kkkk" th:data-bno="${list.mno}">
                                    [[${list.matName}]]
                                </div>


                            </td>

                            <td  th:text="${list.writer}">@mdo</td>
                            <td  th:text="${list.regidate}">@mdo</td>
                        </tr>
                    </th:block>
                    <div class="row text-center">
                        <!--페이징-->
                        <div class="col">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                <ul class="pagination justify-content-center">
                                    <li th:if="${materialDTOPageResponesDTO.prev}" class="paginate_button previous " aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                        <a class="page-link" th:data-num="${materialDTOPageResponesDTO.start -1}">Previous</a>
                                    </li>

                                    <!--thymleaf에는 순서를 표기하는 #numbers.sequence가 있다.-->
                                    <th:block th:each="i: ${#numbers.sequence(materialDTOPageResponesDTO.start,materialDTOPageResponesDTO.end)}">
                                        <li th:class="${materialDTOPageResponesDTO.page == i} ? 'paginate_button active':''" aria-controls="dataTables-example" tabindex="0">
                                            <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                        </li>
                                    </th:block>

                                    <li th:if="${materialDTOPageResponesDTO.next}" class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                        <a class="page-link" th:data-num="${materialDTOPageResponesDTO.end +1}">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div> <!--페이징 처리-->


                    </div> <!--col -->


                    <div class="col shadow kaka">

                        <div>
                            제목 :
                        </div>
                        <div class="ti">

                        </div>
                        <div>
                            내용
                        </div>
                        <div class="con">

                        </div>
                        <button class="dada">닫기</button>

                    </div>

        </div>


        <script th:inline="javascript">


            $( document ).ready(function() {
                document.querySelector(".pagination").addEventListener("click", function (e){

                    e.preventDefault();
                    e.stopPropagation();

                    let target = e.target;


                    if (target.tagName !== 'A'){
                        return;
                    }

                    let num = target.getAttribute("data-num");
                    // console.log(num);

                    let formObj = document.querySelector(".formObj");

                    formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;


                    formObj.submit();

                })

            });


        </script>


    </div>


</body>
</html>