<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>인력관리</title>

</head>
<body>
<div class="content mt-5" layout:fragment="content">
    <!-- 오류메시지 출력 -->
    <div class="d-flex justify-content-center mt-3" th:if="${err}">
        <div class="alert alert-danger" role="alert" th:text="${err}"></div>
    </div>

    <!-- 정보수정 성공시 메세지 -->
    <div class="d-flex justify-content-center mt-3" role="alert" th:if="${scc}">
        <div class="alert alert-success" role="alert" th:text="${scc}"></div>
    </div>
    <!-- 오류 메시지 출력 끝 -->

    <!-- 제목 -->
    <div class="d-flex justify-content-center">
        <a th:href="@{/adminPage}" style="text-decoration: none; color:black;"><h1>인력관리 페이지</h1></a>
    </div>
    <hr style="border: 2px solid black;">

    <!-- 검색 폼 -->
    <form th:action="@{/employe/main}" method="get" th:object="${usDTO}">
        <div class="d-flex">
            <select th:field="*{type}" style="text-align-last: left;">
                <option value="id_se">아이디</option>
                <option value="ea_se">이메일</option>
                <option value="bnu_se">사업자번호</option>
            </select>
            &nbsp;
            <input th:field="*{keyword}" type="text">
            &nbsp;
            <button class="btn btn-dark">검색</button>
        </div>
    </form>

    <br><br>


    <!-- 상단 컬럼 -->
    <table cellpadding="5" cellspacing="5" align="center" class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">아이디</th>
            <th scope="col">이메일</th>
            <th scope="col">사업장이름</th>
            <th scope="col">사업자번호</th>
        </tr>
        </thead>

        <!-- 리스트가 비어있지 않을때만 가져옴 -->
        <th:block th:if="${userDTOList != null && userDTOList.length > 0}">
            <tbody>
            <tr th:each="user : ${userDTOList}">
                <td scope="row" th:text="${user.mno}"></td>
                <td><a th:href="@{/employe/main(userid=${user.userid})}" th:text="${user.userid}"></a></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.b2bname}"></td>
                <td th:text="${user.b2bnumber}"></td>
            </tr>
            </tbody>
        </th:block>
    </table>

    <!-- ------------- ------------- ------------- -->
    <!-- 페이징 처리 -->
    <!-- ------------- ------------- ------------- -->
    <div class="pagination justify-content-center">
        <ul class="pagination">
            <!-- 이전 페이지 버튼 -->
            <li th:class="${(currentPage != null && currentPage == 1) ? 'disabled' : ''}" class="page-item">
                <a class="page-link" th:href="@{/adminPage(page=${(currentPage != null && currentPage > 1) ? currentPage - 1 : 1})}">이전</a>
            </li>

            <!-- 페이지 번호 출력 -->
            <th:block th:if="${totalPages != null && totalPages > 0}">
                <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <li th:class="${(currentPage != null && currentPage == i) ? 'active' : ''}" class="page-item">
                        <a class="page-link" th:href="@{/adminPage(page=${i})}" th:text="${i}">1</a>
                    </li>
                </th:block>
            </th:block>

            <!-- 다음 페이지 버튼 -->
            <li th:class="${(currentPage != null && currentPage == totalPages) ? 'disabled' : ''}" class="page-item">
                <a class="page-link" th:href="@{/adminPage(page=${(currentPage != null && currentPage < totalPages) ? currentPage + 1 : totalPages})}">다음</a>
            </li>
        </ul>
    </div>


    <!-- ------------- ------------- ------------- -->
    <!-- 페이징 처리 -->
    <!-- ------------- ------------- ------------- -->


    <!-- 사원 정보 관리 -->
    <br><br><br><br>
    <div class="d-flex justify-content-center">
        <form th:object="${bindingDTO}" th:action="@{/employe/employe_pro}" method="post">
            <div class="d-flex justify-content-center">
                <h2>사원 정보</h2>
            </div>
            <hr>
            <table cellspacing="5" cellpadding="5" align="center">
                <tr>
                    <td>아이디 :</td>
                    <td><input type="text" class="form-control" th:field="*{userid}" readonly></td>
                </tr>

                <tr>
                    <td>비밀번호 :</td>
                    <td>
                        <a type="button" th:href="@{/forgotpass_pro(userid=${bindingDTO.userid})}" class="btn btn-dark">임시비밀번호발급</a>
                    </td>
                </tr>

                <tr>
                    <td>이름 :</td>
                    <td><input type="text" class="form-control" th:field="*{name}" required></td>
                </tr>

                <tr>
                    <td>생년월일 :</td>
                    <td><input type="date" th:field="*{age}" required></td>
                </tr>

                <tr>
                    <td>성별</td>
                    <td>
                        <input type="radio" name="gender" value="male" th:checked="${bindingDTO.gender == 'male'}"> 남성
                        <input type="radio" name="gender" value="female" th:checked="${bindingDTO.gender == 'female'}">
                        여성
                    </td>
                </tr>

                <tr>
                    <td>이메일 :</td>
                    <td><input type="email" class="form-control" th:field="*{email}" required></td>
                </tr>

                <tr>
                    <td>연락처 :</td>
                    <td><input type="tel" class="form-control" th:field="*{phone}" required></td>
                </tr>

                <tr>
                    <td>직무 :</td>
                    <td><input type="text" class="form-control" th:field="*{job}" required></td>
                </tr>

                <tr>
                    <td>직급 :</td>
                    <td><input type="text" class="form-control" th:field="*{rank}" required></td>
                </tr>

                <tr>
                    <td>입사일자 :</td>
                    <td><input type="date" th:field="*{join_date}" required></td>
                </tr>

                <tr>
                    <td>연봉</td>
                    <td><input type="text" class="form-control" th:field="*{sal}" required> 만원</td>
                </tr>

                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
            </table>

            <div class="d-flex justify-content-center">
                <h2>회사정보</h2>
            </div>
            <hr>

            <table cellpadding="5" cellspacing="5" align="center">
                <tr>
                    <td>상호명 :</td>
                    <td><input type="text" class="form-control" th:field="*{b2bname}"></td>
                </tr>

                <tr>
                    <td>회사주소 :</td>
                    <td><input type="text" id="sample6_postcode" class="form-control" placeholder="우편번호"></td>
                    <td>
                        <button id="addr" class="btn btn-dark" onclick="execDaumPostcode()">주소찾기</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" id="sample6_address" class="form-control" placeholder="주소"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" id="sample6_detailAddress" class="form-control" placeholder="상세주소"></td>
                    <td><input type="text" id="sample6_extraAddress" class="form-control" placeholder="추가주소"></td>

                </tr>

                <tr>
                    <td>대표자 성함</td>
                    <td><input type="text" name="b2bexpont" id="b2bexpont" class="form-control"
                               th:field="*{b2bexpont}" required></td>
                </tr>

                <tr>
                    <td>대표이메일</td>
                    <td><input type="email" name="b2bemail" id="b2bemail" class="form-control"
                               th:field="*{b2bemail}" required></td>
                </tr>

                <tr>
                    <td>회사연락처</td>
                    <td><input type="tel" name="b2bcontact" id="b2bcontact" class="form-control"
                               th:field="*{b2bcontact}" required></td>
                </tr>

                <tr>
                    <td>사업자등록번호</td>
                    <td><input type="text" id="corp_reg" name="corp_button" class="form-control"
                               th:field="*{b2bnumber}" required></td>
                    <td>
                        <button class="btn btn-dark" onclick="corp_chk(event)">사업자등록번호 확인</button>
                    </td>
                </tr>

                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
            </table>

            <input id=b2addr name=b2addr type="hidden" th:field="*{b2baddr}">


            <!-- 숨김처리
            <input type="hidden" id="pass" name="pass" th:field="*{pass}">
            <input type="hidden" name="role" th:value="${userDTO.permission}" th:field="*{permission}">
             -->

            <input type="submit" class="btn btn-dark" value="정보 수정"
                   style="width: 100%; height:50px;font-size: 20px;">

        </form>
    </div>
    <div>
        <form th:action="@{/delete_user}" method="get">
            <input type="hidden" name="userid" th:value="${bindingDTO.userid}" />
            <div class="d-flex justify-content-center mt-3" style="width: 100%;">
                <button type="submit" class="btn btn-danger" style="width: 563px;">유저 삭제</button>
            </div>
        </form>
    </div>

    <script>
        //주소분리기
        window.onload = function () {
            //document.getElementById('pass').value = ""; //hidden 속성 패드워드칸 초기화
            try {
                var addr = document.getElementById('b2addr').value;
                var addrArray = addr.split('-');
                console.log(addr);

                //addrArray에 값이 있을경우 내용 적음
                if (addrArray[0] || addrArray[1] || addrArray[2] || addrArray[3]) {
                    document.getElementById('sample6_postcode').value = addrArray[0]; // 우편번호
                    document.getElementById('sample6_address').value = addrArray[1]; // 주소
                    document.getElementById('sample6_detailAddress').value = addrArray[2]; // 상세주소
                    document.getElementById('sample6_extraAddress').value = addrArray[3]; // 추가주소
                }
            } catch {
                alert("오류");
            }

        };

        //주소찾기API 스크립트
        function execDaumPostcode() {
            event.preventDefault(); //폼 액션 넘어가지 않게 처리
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }


        //사업자등록번호 찾기 API
        function corp_chk(event) {
            // 사업자 등록번호에서 숫자만 남기고 나머지 제거
            var reg_num = $("#corp_reg").val().replace(/[^0-9]/g, "");

            reg_num = $("#corp_reg").val();
            event.preventDefault(); //폼 액션 넘어가지 않게 처리
            if (!reg_num) {
                alert("사업자등록번호를 입력해주세요.");
                return false;
            }


            var aa = {
                b_no: [reg_num]
            };
            console.log(aa)
            $.ajax({
                url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=MUmrGCblfBtTloZf1pRLsrGbvH6dpqDpKYq%2FBSxJd1gMUbiRd66n93Sq41xedEfXbecV95k3yILFOEUV5FXRGg%3D%3D",  // serviceKey 값을 xxxxxx에 입력
                type: "POST",
                data: JSON.stringify(aa), // json 을 string으로 변환하여 전송
                dataType: "JSON",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                accept: "application/json",
                success: function (result) {
                    console.log(result);
                    if (result.match_cnt == "1") {
                        //성공
                        console.log("success");
                        alert('사용가능한 사업자등록번호 입니다.');

                        // 입력 필드를 비활성화
                        $("#corp_reg").prop("readonly", true);
                        $("#corp_reg").css("background-color", "lightgray");

                    } else {
                        //실패
                        console.log("fail");
                        alert(result.data[0]["tax_type"]);
                    }
                },
                error: function (result) {
                    console.log("error");
                    console.log(result.responseText); //responseText의 에러메세지 확인
                }
            });
        }
    </script>
</div>
</body>
</html>